.body {
    background-color: rgb(33, 33, 33);
    color: rgb(0, 0, 0);
    text-shadow: chocolate;
}

.text-highlight{
    color: rgb(246, 246, 246);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-shadow: 1.5px 1.5px 0px rgb(112, 0, 0);
    margin: 30px;
}

.img {
    image-rendering: optimizeQuality;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 64px;
    text-shadow: 1.5px 1.5px 0px rgb(112, 0, 0);
    color:rgb(246, 246, 246);
}

#ul {
    font-size: 20px;
}